{:builds
 {:app {:modules {:main {:init-fn app.core/main}}
        :output-dir "public/js"
        :asset-path "/js"
        :target :browser}
  :release {:target :browser
            :modules {:main {:init-fn app.core/main}}
            :output-dir "public/js"
            :asset-path "/js"
            :release {:compiler-options  {:cross-chunk-method-motion false
                                          :source-map true
                                          :optimizations :simple}}
            :main app.core/main}}
 :dependencies [[reagent "0.8.1"]
                [re-frame "0.10.5"]
                [bidi "2.1.3"]
                [kibu/pushy "0.3.8"]]
 :dev-http {1212 "public"}
 :nrepl {:port 3333}
 :source-paths ["src"]}
