
body {
    padding: 0;
    margin: 0;
}
#mapid {
    height: 100%;
    width:  100vw;
}
#map-history {overflow-y: hidden;}

:lang(ar) 	{
    font-family: "Amiri", "Scheherazade", serif;
}

.navbar-item {text-align: center;},
a.navbar-item:hover {color: green!important;}

.leaflet-control-layers-toggle {
    background-image: url(../img/control-icon.png) !important;
    background-repeat: no-repeat !important;
    width: 36px;
    height: 36px;
}

p.logo:hover { color: #DA291C !important;}

.logo {font-family: 'Comfortaa', Roboto; font-size: 1.25em;}
.navbar-item {
    display: flex;
}

.navbar,
.navbar-menu,
.navbar-start,
.navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
    overflow: hidden !important;
    box-shadow: none !important;
}

.navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
}
.navbar-start{
    justify-content: flex-start;
    margin-right: auto;
}
.navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}


.home.icon {padding: 0% 5%;}

@media screen and (min-width: 1024px){
    .image {margin: 2rem 8rem !important;
            text-align: center;}
    .about p, .contribute p {margin: 1rem 4.5rem;
                             text-indent: 1.5em;
                             line-height: 1.75em;}
    .about h1, .contribute h1 {margin: 2rem 4.5rem;}
}

@media screen and (max-width: 1024px){
    .image {margin: 2rem 0.5rem !important;
            text-align: center;}
    .about p, .contribute p {margin: 1rem 1.5rem;
                             text-indent: 1.5em;
                             line-height: 1.75em;}
    .about h1, .contribute h1 {margin: 2rem 1.5rem;}
}

.description-text {max-height: 10rem;
                   align-items: start !important;
                   border-bottom: 2px lightgray solid !important;
                   padding-bottom: 2px !important;
                   overflow-y: scroll;}

.panel-block {display: inline-block !important;}

.home .navbar .button {height: 3em;}
.home .navbar .button:hover { color: #DA291C !important;}

@media screen and (min-width: 400px){
    .home .navbar .navbar-item{margin: 0 1.5rem;}
}

/* Description Modal */
.modal-close {
    position: absolute !important;
    top: 0 !important; left: unset; right:unset;
    background: rgb(218, 41, 28) !important;
}


#modal-description {z-index: 1000;
                    background: whitesmoke;
                    font-size: 12;
                    width: fit-content;
                    margin: auto auto;
                    height: fit-content;
                    border-radius: 20px;
                    padding: 1rem;
                    box-shadow: 0 0 0 99999px rgba(0, 0, 0, .8);}
