[Unit]
Description=tileserver-gl
After=network.target

[Service]
After=tileserver-gl.service
ExecStart=tileserver-gl -c /root/openmapsbh/tile-config.json
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
